*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(45deg, rgb(72, 114, 58), rgba(4, 236, 205, 0.404));
    height: 100vh;
}
header h2{
    color: rgba(255, 255, 255, 0.877);
    font-weight: 600;
    padding: 100px 0;
}
nav{
    background-image:linear-gradient(rgba(0, 0, 0, 0.658), #1d0c0c10), url("../image/pexels-miguel-á-padriñán-255377.jpg");
    background-size: cover;
    height: 270px;
    padding: 120px 240px;
    border-radius: 0 0 600px 600px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav h1, h3, p{
    color: linear-gradient(rgba(0, 0, 0, 0.829), #ff0000f1);
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    
}
.rec{
    position: relative;
    top: 160px;
    border-radius: 50% ;
    width: 300px;
    height: 300px;
    background-color: green;
    
    background-repeat: no-repeat;
    
}
.cir{
    position: absolute;
    background-color: red;
    top: 0;bottom: 0;right: 0;left: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}